name: Builds

on:
  push:
    branches:
      - main
  pull_request:
    type:
      - opened
      - synchronize
  workflow_dispatch: ~

jobs:

  build-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: make build

      - name: Test
        run: |
          sudo apt-get install -y redis-server
          redis-server &
          ./bin/gen-selfsigned-cert.sh
          ./go-proxy-cache -debug -config=config.test.yml &
          make test

      - name: Codecov
        run: |
          redis-server &
          ./bin/gen-selfsigned-cert.sh
          ./go-proxy-cache -debug -config=config.test.yml &
          make cover
          make codecov

  sca:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: SCA
        continue-on-error: true
        run: make sca
